.ellybox {
	position:relative;
	top:40px;
	background-color:white;
	width:650px;
	height:100px;
	left: 20px;
	margin-top:10px;
	padding:5px;
	font-family: sans-serif;
	font-weight:300;
	-webkit-box-shadow: 1px 1px 4px 1px #bbb;
	-moz-box-shadow: 1px 1px 4px 1px #bbb;
	box-shadow: 1px 1px 4px 1px #bbb;
	display:flex;
	align-items: center;
}
.title {
	width:280px;
	font-size:15px;
	margin:0px 10px 0px 10px;

}
.author {
	width:120px;
	margin:0px 10px 0px 10px;
	font-size:14px;

}
.views {
	width:90px;
	margin: 0px 10px 0px 10px;
	font-size:14px;
	text-align: center;
}
.thumbimg {
	width:85px;
	margin:0 10px 0 10px;
	display: inline-block;
}
.ellybox a:visited {
	color:#aaa;
}
.ellybox a:link,a:active{
	color:#222;
}
.header {
	font-family: "Cormorant Garamond",serif;
	font-size: 40px;
	color:white;
	text-align: center;
	width:100%;
	position: relative;
	background-color: black;
	height: 50px;
	top:30px;
	padding-bottom:2px;
	margin-bottom:50px;
}
.ellylogo {
	position:absolute;
	top:10px;
	left:20px;
}
.error {
	margin-left:20px;
	margin-top:100px;
}
.stats {
	font-size:13px;
}
p {
	color: #222;
}
body {
	background-color:#eee;
	margin:0;
	padding:0;
}
ul {
	list-style: none;
	padding:0;
	margin:0;

}
.submitbox {
	position:relative;
	top:15px;
	margin: 3% 3% 0% 3%;
	background-color:#aaa;
}
.author {
	overflow:scroll;
	height:30px;
	margin-top:11px;
}
