<head>
{% load static %}
</head>
<body>
	<li>
	<form action="">
	<div class=ellybox>
	<input type="checkbox" name="box" value="{{ id.id }}">
		<div class=thumbimg><img width=85px height=55px src='{{ id.thumb }}'/></div>
		<span class=title><a href='{{ id.link }}' target="_Blank" id="link">{{ id.title }}</a></span>
		<span class=author><em>by {{ id.author }}</em></span> 
		<span>
		<p>Hits:<strong id=hits></strong></p>
		<p>Likes:<strong id=likes> </strong></p>
		<p>RTs:<strong id=rts> </strong></p>
		</span>
	</input>
	</div>
	</form>
	</li>
<script src= {% static "elly/hits.js" %}></script>
</body>