{% load static %}
<head>
</head>
<body>
	<li>
		<div class=ellybox>
			<input id="postid" type="checkbox" name="postid" value="{{ id.id }}">
				<div class=thumbimg>
					<img width=85px height=55px src='{{ id.thumb }}'/>
				</div>
				<span class=title>
					<a href='{{ id.link }}' target="_Blank" class="link">{{ id.title }}</a>
				</span>
				<span class=author>
					<em>by {{ id.author }}</em>
				</span> 
				<span class=stats>
					<p>Hits:<strong class=hits href='{{ id.link }}'> </strong></p>
					<p>Likes:<strong class=likes href='{{ id.link }}'> </strong></p>
					<p>RTs:<strong class=rts href='{{ id.link }}'> </strong></p>
				</span>
			</input>
		</div>
	</li>
</body>