<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% load static %}
	<head>
		<link rel="stylesheet" type="text/css" href= {% static "elly/style.css" %}>
		<link rel="icon" href= {% static "elly/favicon.png" %}>
		<title>Elly Beta 1.0</title>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
		<link rel="stylesheet" href= {% static 'elly/anytime.css' %}>
		<script src= {% static 'elly/anytime.js' %}></script>

	</head>

	<body>
		<div class=header>
			<span>Elly</span>
			<form action="/elly/filter" method="get">
				<select name="filter">
					<option value="" disabled selected hidden>Section</option>
					<option value="Opinion">Opinion</option>
					<option value="Business">Business</option>
					<option value="Interactives">Interactives</option>
					<option value="Politics">Politics</option>
					<option value="Markets">Markets</option>
					<option value="Tech">Tech</option>
					<option value="US">US</option>
					<option value="World">World</option>
					<option value="Life">Life</option>
					<option value="Page One">Page One</option>
					<option value="Magazine">Magazine</option>
					<option value="Arts">Arts</option>
				</select>
				<input type="submit" value="Filter" id=filterbox>
			</form>
			<form action="/elly/postsocial">
			</form>
			<form action="/elly/search" method="get">
				<input type="text" name="search" size="25">
				<input type="submit" value="Search" id=searchbox>
			</form>
		</div>
		<div class=ellylogo>
			<a href= {% url 'lister' %}><img width=150px src= {% static "elly/ellylogo.png" %}></img></a>
		</div>
		<ul>
			{% if elly_list %}
			<form action="/elly/postsocial" method="post" id=postsocial>
			{% csrf_token %}
			<!-- start box that submits posts and parameters -->
				<div class=rightbox>
	    			<input id=submitbox type="submit" value="Submit Posts"><br>
	    			<select name="accountselector" id="socialselector">
					</select><br>
	    			<input type="radio" name="schedtype" value="hold" class="holdfield"><label for="holdfield" class="holdfield">Hold</label></input>
					<input type="radio" name="schedtype" value="optimize" class="optimizefield"><label for="optimizefield" class="optimizefield">Optimize</label></input>
					<input type="radio" name="schedtype" value="schedule" class="schedulefield"><label for="schedulefield" class="schedulefield">Schedule</label></input>
					<input type="radio" name="schedtype" value="publish now" class="publishfield"><label for="publishfield" class="publishfield">Publish Now</label></input>
				<br>
					<select name="schedtime" class="reveal-if-active">
						<option value="48">48h</option>
						<option value="24">24h</option>
						<option value="2">2h</option>
					</select>
					<p class="reveal-if-active">Start Optimization: <input name="startoptdatetime" type="text" id="startoptimization">
					</p>
					<p class="reveal-if-active2">Schedule For: <input name="scheduletime" type="text" id="scheduletime"></p>
				</div>
			<!-- end box of submit & parameters -->
			<!-- start list of articles -->
				{% for id in elly_list %}
				<li>
					<div class=ellybox>
						<input id="postid" type="checkbox" name="postid" value="{{ id.id }}" class=checkbox>
							<div class=thumbimg>
								<img width=85px height=55px src='{{ id.thumb }}'/>
							</div>
							<span class=title>
								<h6 class='section'>{{ id.section }}</h6>
								<a href='{{ id.link }}' target="_Blank" class="link">{{ id.title }}</a>
							</span>
							<span class=author>
								<em>by {{ id.author }}</em>
							</span>
							<p class=published>Published: <span class=pubdate> {{ id.pubdate }} </span></p>
							<span class=stats>
								<p>Hits:<span class=hits href='{{ id.link }}'> </span></p>
								<p><img width=20px src= {% static "elly/like.png" %}> <span class=likes href='{{ id.link }}'> </span></p>
								<p><img width=18px src= {% static "elly/twitter.png" %}>&nbsp; <span class=rts href='{{ id.link }}'> </span></p>
							</span>
						<p>
					</div>
				</li>
				{% endfor %}
			<!-- end list of articles -->
			</form>
			{% else %}
		    <p class=error>Error: No articles found!</p>
		    {% endif %}
		</ul>
		<!-- load js  -->
		<!-- load script that modifies aesthetic -->
		<script src= {% static "elly/style.js" %}></script>
		<!-- load script that populates anaylitics fields -->
		<script src= {% static "elly/hits.js" %}></script>
		<!-- load script that populates available social accounts -->
		<script src= {% static "elly/socialselector.js" %}></script>
	</body>
</html>
